.pageLeagues{
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Source Sans Pro, sans-serif;
  .aboutSite{
    background-size: cover;
    background:
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("http://localhost:3000/images/backgroundFirstPage.png") no-repeat fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      &:nth-child(1){
        font-size: 3vw;
        flex: 0.1;
      }
      &:nth-child(2){
        font-size: 1.5vw;
      }
    }
  }
  .blockChangeLeagues{
    width: 70vw;
    margin: auto;
    .blockMainLeagues{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2vw;
      img{
        &:nth-child(1){
          width: 15%;
        }
        &:nth-child(2){
          width: 12%;
        }
        &:nth-child(3){
          width: 20%;
        }
        &:nth-child(4){
          width: 8%;
        }
      }
    }
    .blockLeagues{
      margin-top: 2vw;
      .titleBlock{
        color: black;
        font-size: 2.5vw;
        text-align: center;
      }
      .filterLeagues{
        margin: 1vw auto;
        width: 35vw;
        input{
          width: 35vw;
          border-radius: 20px;
          color: #454545;
          border: 1px #C9C7C7 solid;
          font-size: 1.4vw;
          padding: 0.4vw 1.5vw;
          &:focus {
            outline: 0;
            border-color: #0891e6;
          }
        }
      }
      .leagues{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .emptyListLeagues{
        color: #616161;
        text-align: center;
        font-size: 1.5vw;
      }
    }
  }
  .endBar{
    width: 100vw;
    background: #5A743F;
    height: 3.5vw;
  }
}